/* NavigationBar.css */

.app-bar {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease-in-out;
}

.app-bar.scrolled {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.nav-link {
    position: relative;
    margin: 0 15px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: rgba(0, 59, 74, 0.65);
    transform: scale(1.1);
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 59, 74, 0.65);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.nav-link:hover .underline {
    transform: scaleX(1);
}

.header-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
